body {
    margin: 0;
    padding: 0;
    background-color: rgba(131, 129, 129, 0.13);
}
.container {
    width: 100%;
}

.section-header {
    text-align: center;
    font-family: cursive;
}

.hidden {
    display: none;
}

/* РЕГИСРАЦИЯ НАЧАЛО */
.registration-block {
    width: 400px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
}

.registration-block  h2{ 
    text-align: center;
} 

.registration-block input {
    width: 95%;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0px;
    background-color: antiquewhite;
    padding: 8px;
}


.registration-block button {
    margin-top: 20px;
    width: 50%;
    height: 30px;
    border-radius: 7px;
    border: 0px;
    background-color: antiquewhite;
}

.registration-block .btn-reg {
    text-align: center;
}

/* РЕГИСТРАЦИЯ КОНЕЦ */


/* АВТОРИЗАЦИЯ НАЧАЛО */
.authorization-block {
    width: 400px;
    height: 350px;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
}

.authorization-block  h2{ 
    text-align: center;
} 

.authorization-block input {
    width: 95%;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0px;
    background-color: antiquewhite;
    padding: 8px;
}


.authorization-block button {
    margin-top: 20px;
    margin: 10px;
    width: 40%;
    height: 30px;
    border-radius: 7px;
    border: 0px;
    background-color: antiquewhite;
}

.authorization-block .btn-reg {
    text-align: center;
}

/* АВТОРИЗАЦИЯ КОНЕЦ */

/* ЛИЧНЫЕ ФАЙЛЫ НАЧАЛО */

.profile {
    width: 90%;
    padding: 20px;

}

/* ЛИЧНЫЕ ФАЙЛЫ КОНЕЦ */

.user-files {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
}

.user-files table {
    width: 100%;
}

/* ЗАГРУЗКА ФАЙЛОВ НАЧАЛО */

.upload-container {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    height: 100px;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
}

.upload-container .upload-files{ 
    margin-top: 20px;
    margin: 10px;
    width: 40%;
    height: 30px;
    border-radius: 7px;
    border: 0px;
    background-color: antiquewhite;
}
.uploaded-files {
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
}

.uploaded-files table {
    width: 100%;
}

.btn-upload-file-block {
    width: 100%;
    height: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.btn-upload-file {
    margin-top: 20px;
    margin: 10px;
    width: 180px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 7px;
    border: 0px;
    background-color: antiquewhite;
}

.upload-container .btn-to-disk {
    margin-top: 20px;
    margin: 10px;
    width: 180px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 7px;
    border: 0px;
    background-color: antiquewhite;
}

/* ЗАГРУЗКА ФАЙЛОВ КОНЕЦ */

.edit-block {
    margin: auto;
    margin-top: 90px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 200px;
    border-radius: 15px;
}
.edit-block input {
    margin: auto;
    width: 250px;
    background-color: antiquewhite;
    border: 0;
    border-radius: 5px;
    padding: 8px;
}
.e_btn {
    margin-top: 20px;
    margin: 10px;
    width: 40%;
    height: 30px;
    border-radius: 7px;
    border: 0px;
    background-color: antiquewhite;
}

.modal {
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.336);
    display: none;    
}

.modal-content {
    background-color: #fff;
    border-radius: 10px;
    width: 50vw;
    height: 400px;
    margin: 0 auto;
    margin-top: 100px;
}

.del-block {
    text-align: center;
    padding: auto;
    padding-top: calc(200px/2);
}

.del-block button {
    width: 70px;
    height: 30px;
    background-color: antiquewhite;
    border-radius: 7px;
    border: 0;
}
.del-block button:hover {
    background-color: rgba(173, 120, 51, 0.726);
}